@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-45deg, #4571d8, #21586f, #666b7a, #2b5ea5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  height: 1000px;
  background-size: 400% 400%;
  animation: bg-anim 15s ease infinite;
}

.container {
  max-width: 1160px;
  border-radius: 4px;
  max-height: 660px;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.rgbKineticSlider canvas {
  position: absolute;
  display: block;
}

nav a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 20px;
}

nav a.next {
  right: 40px;
}

nav a.prev {
  left: 40px;
}

svg {
  width: 28px;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #f5f5f5;
}

.slider {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #fff 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-out;
  cursor: pointer;
}
.slider:hover {
  transform: scale(1.5);
}
.slider.prev svg {
  transform: rotate(-180deg);
}

.wrapper {
  max-width: 900px;
  width: 88%;
  top: calc(100% - 160px);
  right: 50%;
  transform: translatex(50%);
  position: absolute;
  color: #f5f5f5;
}

.separator {
  border: 1px solid #fdfdfe;
}
.separator-text {
  position: absolute;
  top: 20px;
}

.ticket {
  position: absolute;
  top: 50px;
  right: 50%;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(212, 212, 212, 0.5);
  backdrop-filter: blur(5px);
  padding: 16px 12px;
  border-radius: 4px;
  transform: translatex(calc(50% - 25px));
}
.ticket-list {
  display: flex;
  align-items: center;
  padding-right: 16px;
}
.ticket-list + .ticket-list {
  border-left: 1px solid #fdfdfe;
  padding-left: 16px;
}
.ticket-list.depart {
  border-left: 0;
}
.ticket .returning {
  margin-left: 32px;
}
.ticket-text__wrapper {
  display: flex;
  flex-direction: column;
}
.ticket-title {
  font-size: 12px;
}
.ticket-subtitle {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-top: 4px;
  letter-spacing: 0.08em;
  white-space: nowrap;
}
.ticket svg {
  width: 20px;
  margin-left: 60px;
}
.ticket .settings {
  margin: 0;
}
.ticket .search {
  background-color: #fe6651;
  position: absolute;
  right: -54px;
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
}
.ticket .search svg {
  margin: 0;
  width: 20px;
}

@keyframes bg-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 986px) {
  .ticket-list:nth-child(3),
  .ticket-list:nth-child(4) {
    display: none;
  }
}
@media (max-width: 800px) {
  .ticket-list:nth-child(2) {
    display: none;
  }
  nav a.next {
    right: 20px;
  }
  nav a.prev {
    left: 20px;
  }
}
@media (max-width: 590px) {
  .ticket-list:nth-child(5),
  .ticket-list:nth-child(6) {
    display: none;
  }
  body {
    padding: 1em;
  }
  .slider {
    width: 26px;
    height: 26px;
  }
  .slider svg {
    width: 20px;
  }
  .slider:hover {
    transform: scale(1.1);
  }
  .main-nav {
    top: 0;
    padding: 20px 5px;
    width: max-content;
  }
  nav a.next {
    left: 48px;
  }
  nav a.prev {
    left: 10px;
  }
}

/* ++++++++++++++++++++*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    height: 100%;
}


.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #ff4743;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    position: relative;
    height: 700px;
}

.chat-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}

#chat-page #messageForm {
    padding: 20px;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message.own-message {
    padding-right: 68px;
    text-align: right;
    position: relative;
}

#chat-page .chat-message.own-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    right: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message.own-message p {
    color: #43464b;
    background-color: #f2f2f2;
}

#chat-page .chat-message.other-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message.other-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message.own-message span {
    color: #333;
    font-weight: 600;
    font-size: 17px;
    
}

#chat-page .chat-message.other-message span {
    color: #333;
    font-weight: 600;
    font-size: 17px;
    
}

#chat-page .chat-message.other-message p {
    color: #43464b;
    background-color: #f2f2f2;
}

#chat-page .chat-message.own-message .chat-timestamp {
	font-size: 12px;
}

#chat-page .chat-message.other-message .chat-timestamp {
	font-size: 12px;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
    
}