@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	background-image: linear-gradient(-45deg, #4571d8, #21586f, #666b7a, #2b5ea5);
	animation: bg-anim 15s ease infinite;
	background-size: 1000% 1000%;
}

@keyframes bg-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html>body {
	font-family: 'NeoDunggeunmoPro-Regular';
}

header {
	z-index: 10;
}

body>main {
	position: relative;
	z-index: 1; /* z-index 값을 높여서 다른 요소들보다 위에 배치되도록 함 */
}

main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	z-index: -10;

}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 tbody th,
	.table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.table thead th, .table tbody th, .table td {
	border: 2px solid black;
	padding: 10px;
	text-align: center;
}
/* ---------------------- */

.table-box-type-2 thead th, .table-box-type-2 tbody th,
	.table-box-type-2 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.table-box-type-2 table {
	table-layout: fixed;
	width: 100%;
}

.table-box-type-2 td {
	word-wrap: break-word;
	max-width: 100%;
}

.table-box-type-2 td div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* ---------------------- */

.table th:first-child {
	position: inherit;
}

.btn-text-link {
	color: #1f1f1f;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

.middle {
	text-align: center;
}

.a-middle {
	 margin: 0 auto;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-button.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button svg {
  opacity: 1;
}
.like-button svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button.active svg path {   
  fill: #2196f3;
 }
 
 .aaa {
 	background-color: red;
 }
/*  =============================================
 */
 
 .animated {
 -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
 }
 
 .like-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-button2.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button2 svg {
  opacity: 1;
}
.like-button2 svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button2.active svg path {   
  fill: #2196f3;
 }
 
 /* 댓글 좋아요 버튼 */
 
  .like-button3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.like-button3.animated {
  -webkit-animation: pop 0.9s both;
  animation: pop 0.9s both;
}
.like-button3 svg {
  opacity: 1;
}
.like-button3 svg path {
  fill: #333;
  transition: fill .4s ease-out;
}
.like-button3.active svg path {   
  fill: #2196f3;
 }
 
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} 

/* ==================== 스타일 부분 합치는 중==============*/

#hero-1 > .hero-info > h1 {
	color: white;
	font-family: 'SBAggroB', sans-serif;
	font-size: 3rem;
	margin-left: 20px;
}

#hero-1 > .hero-info > h3 {
	margin-left: 20px;
	color: white;
	font-family: 'SBAggroB', sans-serif;
}

#hero-2 > .hero-info > h1 {
	color: white;
	font-family: 'SBAggroB', sans-serif;
	font-size: 3rem;
	margin-left: 20px;
}

#hero-2 > .hero-info > h3 {
	margin-left: 20px;
	color: white;
	font-family: 'SBAggroB', sans-serif;
}

#hero-3 > .hero-info > h1 {
	color: white;
	font-family: 'SBAggroB', sans-serif;
	font-size: 3rem;
	margin-left: 20px;
}

#hero-3 > .hero-info > h3 {
	margin-left: 20px;
	color: white;
	font-family: 'SBAggroB', sans-serif;
}

#hero-4 > .hero-info > h1 {
	color: white;
	font-family: 'SBAggroB', sans-serif;
	font-size: 3rem;
	margin-left: 20px;
}

#hero-4 > .hero-info > h3 {
	margin-left: 20px;
	color: white;
	font-family: 'SBAggroB', sans-serif;
}

#hero-5 > .hero-info > h1 {
	color: white;
	font-family: 'SBAggroB', sans-serif;
	font-size: 3rem;
	margin-left: 20px;
}

#hero-5 > .hero-info > h3 {
	margin-left: 20px;
	color: white;
	font-family: 'SBAggroB', sans-serif;
}

.con {
	border: 10px solid red;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.table {
	z-index: 1;
}

.panel {
	width: 450px;
	max-width: 90%;
	height: 100%;
	background:
		url('https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/2AuX/image/WqiVybrAyq8Pan1UKBEwwhBZNyQ.jpg')
		#fff;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	margin: 5% auto 0px;
}

.shadow1 {
	-webkit-box-shadow: 0 20px 15px -15px rgba(119, 119, 119, 0.85);
	-moz-box-shadow: 0 20px 15px -15px rgba(119, 119, 119, 0.85);
	box-shadow: 0 40px 30px -30px rgba(119, 119, 119, 0.85);
}

login-form {
	height: 700px;
	padding: 50px;
}

.panel-switch {
	text-align: center;
	margin-top: 30px;
}

.panel-switch button {
	display: inline-block;
	width: 100px;
	height: 40px;
	background: #2cd187;
	margin: 0px 10px 50px;
	border: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 0.8em;
	transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.panel-switch button:active {
	background: #23baa9;
	color: #c9c9c9;
}

.active-button {
	opacity: 0.5;
}

button, .button, a {
	cursor: pointer;
}

form h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 4px;
	margin: 50px 0;
	font-size: 1.7em;
}

fieldset {
	border: none;
}

.animate1, .animate2, .animate3, .animate4 {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}

.animate1 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
}

.animate2 {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
}

.animate3 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}

.animate4 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}

.animate5 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
}

@-webkit-keyframes fadeInUp {from { opacity:0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

}
@keyframes fadeInUp {from { opacity:0;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

to {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

}
fieldset input {
	background: black;
	border: none;
	border-radius: 5em;
	height: 20px;
	width: 80%;
	margin: 10px 0;
	padding: 5px;
	text-indent: 10px;
	color: #fff;
	font-weight: 600;
}

fieldset input::placeholder {
	color: #c7c6c6;
}

fieldset input:focus {
	outline: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5em;
	margin: 9px 0;
}

.login_form {
	position: relative;
	bottom: 0;
	width: 280px;
	height: 4em;
	margin-top: 150px;
	border: none;
	border-radius: 10em;
	background: #2cd187;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	z-index: 1;
	transition: background-color 0.2s, color 0.2s;
}

#login-form-submit:active {
	background: #b52773;
	color: #c9c9c9;
}

.hidden {
	display: none;
}

/*MEDIA QUERIES     */
@media ( max-height :800px) {
	body {
		max-height: 100vh;
	}
	.panel {
		width: 450px;
		max-width: 90%;
		background-size: cover;
		margin: 1% auto;
	}
}

@media ( max-width :500px) {
	html, body {
		background: url(https://picsum.photos/3695/5543?image=827) #fff;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		position: fixed;
	}
	.panel {
		background: none;
		box-shadow: none;
	}
	form {
		padding: 50px;
	}
	.panel-switch {
		margin-top: 30px;
	}
	.panel-switch button {
		display: inline-block;
		width: 80px;
		margin: 0px 10px 50px;
		font-weight: 600;
		font-size: 0.7em;
	}
	form h1 {
		font-size: 1.5em;
	}
}

.bg-main {
	/* 상대경로 지정 */
	background-size: cover;
	background-attachment: fixed;
	height: 1000px;
}

.bg-main2 {
	/* 상대경로 지정 */
	background-image: url('bg-write.gif');
	background-size: cover;
	background-attachment: fixed;
	height: 1000px;
}

.bg-detail {
	/* 상대경로 지정 */
	background-image: url('water-in.webp');
	background-size: cover;
	background-attachment: fixed;
	height: 1000px;
}

.main-content {
	position: relative;
}



.main-asdf {
	height: 1000px;
	width: 70%;
	background-color: rgb(233, 202, 128);
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.main-asdf > .main-div {
	position: sticky;
	top: 100px;
	width: 300px; 
	height: 300px;
	margin-left: 100px;

}

.main-asdf > .bg-asdf {
	/* 상대경로 지정 */
	background-image: url('calender.jpeg');
	top: 4%;
	left: 700px;
	position: sticky;
	width: 500px;
	height: 500px;

}

.bg-main3 {
	background-image:
		url('main-beach.jpg');
	background-size: cover;
	background-attachment: fixed;
	height: 1000px;
}

.img {
  	background-size: cover;
	background-attachment: fixed;
	height: 1000px;
  	filter: url(#water);
}

.input {
	top: 1200px;
	left: 350px;
}

.bg-list {
	/* 상대경로 지정 */
	background-image: url('bg-list.gif');
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 1000px;

}

header span {
	font-size: inherit;
	padding: inherit;
	width: auto;
	height: auto;
	color: #FFE4C4;
}

/* 스크롤 내리면 메뉴바 색깔 변하게 설정 */
.actived {
	background: #59BBBB;
	color: yellow;
	transition: opacity .3s;
}

/* -----------시계2===========*/
.clock {
	position: absolute;
	display: flex;
	width: 200px;
	height: 200px;
	left: 80%;
	top: 5%;
	justify-content: center;
	align-items: center;
	background: url(http://samuel-garcia.site/img/clock-sam.png);
	background-size: cover;
	border: 4px solid #191919;
	border-radius: 50%;
	box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5), inset 4px 4px 10px
		rgba(0, 0, 0, 0.5), inset -4px -4px 10px rgba(67, 67, 67, 0.3), 4px
		4px 10px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.clock:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: #747474;
	border-radius: 50%;
	z-index: 999;
}

.clock .hour, .clock .min, .clock .sec {
	position: absolute;
}

.clock .hour, .hr {
	width: 160px;
	height: 160px;
}

.clock .min, .mn {
	width: 190px;
	height: 190px;
}

.clock .sec, .sc {
	width: 230px;
	height: 230px;
}

.hr, .mn, .sc {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	position: absolute;
	border-radius: 50%;
}

.hr:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 40px;
	margin-top: 30px;
	background: #ffb510;
	z-index: 9;
	border-radius: 6px 6px 0 0;
}

.mn:before {
	content: "";
	position: absolute;
	width: 4px;
	height: 60px;
	margin-top: 30px;
	background: #8b8b8b;
	z-index: 10;
	border-radius: 6px 6px 0 0;
}

.sc:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 80px;
	margin-top: 30px; background : #e5e5e5;
	z-index: 11;
	border-radius: 6px 6px 0 0;
	background: #e5e5e5;
}

#menu {
	height: 100%;
	position: fixed;
	background-color: #FED057;
	width: 300px;
	transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
	transform: translateX(-100%);
	left: 50px;
	opacity: .5;
}

#menu.expanded {
	transform: translateX(0%);
	left: 0px;
}

.menu-inner {
	width: 100%;
	height: 100%;
	position: relative;
}

#blob {
	top: 0;
	z-index: -1;
	right: 60px;
	transform: translateX(100%);
	height: 100%;
	position: absolute;
}

#blob-path {
	height: 100%;
	fill: #FED057;
}

.hamburger {
	left: 15px;
	position: fixed;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	z-index: 30;
}

.hamburger .line {
	width: 100%;
	height: 4px;
	background-color: #fff;
	position: absolute;
}

.hamburger .line:nth-child(2) {
	top: 50%;
	margin-top: -2px;
}

.hamburger .line:nth-child(3) {
	bottom: 0;
}

.menu-inner > ul {
	padding: 0;
	list-style: none;
	width: 80%;
	margin-left: 10%;
	position: absolute;
	top: 10px;
}

.menu-inner > ul > li > a {
	display: block;
	font-weight: bold;
	padding: 10px;
	white-space: nowrap;
}

.menu-inner > ul > li:hover > a {
	background-color: white;
	color: black;
}

/*--------------------main2.css--------------*/


/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
 */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */



/* ul {
  list-style: none;
} */

.page-wrap {
  position: relative;
}

.page-header {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/*  NAV: Top Menu Section
----------------------------------------------- */
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
}
nav h1 {
  font-size: clamp(1.2rem, 6vw, 3rem);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--pill);
  font-size: 1.3rem;
  background-color: var(--red);
  padding: 5px 10px;
}
nav ul {
  display: flex;
  color: var(--white);
}
nav ul li:not(#burger) {
  visibility: hidden;
  margin-right: 1.5em;
}

#burger {
  width: min-content;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
#burger span {
  display: block;
  height: 3px;
  width: 22px;
  background-color: var(--red);
  border-radius: 200px;
  transition: transform 0.3s 0.3s;
}


/*  MAIN: Slider Section
----------------------------------------------- */
.main-first {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--i);
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 8;
}
.hero-info h2 {
  font-size: clamp(2rem, 9vw, 5rem);
  line-height: clamp(2rem, 9vw, 5rem);
  text-transform: uppercase;
}
.hero-info h1 {
  color: var(--white);
  font-size: clamp(3.2rem, 10vw, 7rem);
  line-height: clamp(3.2rem, 10vw, 7rem);
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.hero-info h3 {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2em;
}
@supports (-webkit-text-stroke: 3px var(--pill)) {
  .hero-info h2 {
    color: transparent;
    -webkit-text-stroke: 3px var(--pill);
    text-shadow: none;
  }
}

.hero-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
  background-image: url("/resource/main-beach.jpg");
}

/* Photo by Lucas Favre
   https://unsplash.com/photos/BRTV55ErUZg
----------------------------------------------- */
.hi-2 {
  background-image: url("/resource/main.jpeg");
}

/* Photo by Roell de Ram
   https://unsplash.com/photos/2DM7eOR5iyc
----------------------------------------------- */
.hi-3 {
  background-image: url("/resource/main2.jpg");
}

/* Photo by Go to Bernd Wahlbrinck
   https://unsplash.com/photos/lVVvYiR66kw
----------------------------------------------- */
.hi-4 {
  background-image: url("/resource/main3.jpg");
}

/* Photo by Micheal Schofield
   https://unsplash.com/photos/d0ohwP3BRf4
----------------------------------------------- */
.hi-5 {
  background-image: url("/resource/main4.jpg");
}

/*  SECTION: Overlay Menu Section
----------------------------------------------- */
/*본 프로젝트의 메인 페이지 자동 사진 넘어가는거 구현하기 위해 section 써서 만약 section으로 안보이면 article로 고치기*/

section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  min-height: 100vh;
  padding: 8em 5em 2em 5em;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/church.png");
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.level-1 {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-auto-rows: min-content;
  grid-gap: 2em;
}
.level-1 h3 {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.level-1 p {
  margin: 0.5em 0 0 0.5em;
}
.level-1 p small {
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}
.level-1 p small:hover {
  opacity: 1;
  color: var(--red);
}
.level-1 ul > li {
  font-size: 1.2rem;
  padding: 0.3em;
  transition: color 0.3s;
}
.level-1 ul > li:hover {
  color: var(--red);
  cursor: pointer;
}
.level-1 li:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/4;
}
.level-1 li:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.level-1 li:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.level-1 li:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.level-2 {
  padding: 0.3em 1em;
}
.level-2 li p {
  color: var(--red);
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1em 0;
  text-transform: uppercase;
  border-bottom: 1px solid #fde0ac;
}

.level-3 {
  display: flex;
  flex-wrap: wrap;
}
.level-3 li {
  padding: 0.5em 1em !important;
  background-color: var(--pill);
  border-radius: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1rem !important;
  cursor: pointer;
  color: var(--black);
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1em 2em;
  }
  nav h1 {
    font-size: 0.9rem;
  }
  section {
    padding: 8em 2em 2em 2em;
  }
  .level-1 {
    grid-template-columns: 1fr;
  }
  .level-1 li:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .level-1 li:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .level-1 li:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .level-1 li:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.ls-box {
	top: 200px;
}

.rec_img {
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
}

/* recommend jsp page */

.blinking-text {
    width: 50%;
    background-color: wheat;
    animation: blink 1s infinite;
}

.blinking-text2 {
    width: 50%;
    background-color: wheat;
    animation: blink 3s infinite;
}

.blinking-hamburger {
    width: 50%;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
          opacity: 1;
          color: red;
       }
   50% {
          opacity: 0;
          color: blue;
        }
   100% {
          opacity: 1;
          color: green;
        }
 }
 
.lorem-text {
 	font-family: 'SBAggroB', sans-serif;
 }